@model List<ResultBannerDto>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Site Afiş Alanı</h4>
						<div class="table-responsive">
							<table class="table mb-0">
								<thead>
									<tr>
										<th>Başlık</th>
										<th>Açıklama</th>
										<th>Video URL</th>
										<th>Video Açıklama</th>
										<th>Videoyu İzle</th>
										<th>Güncelle</th>
										<th>Sil</th>
									</tr>
								</thead>
								<tbody>
									@if (Model.Any())
									{
										@foreach (var item in Model)
										{
											<tr>
												<td>@item.title</td>
												<td>@item.description</td>
												<td>@item.videoUrl</td>
												<td>@item.videoDescription</td>
												<td><a href="/Admin/AdminBanner/UpdateBanner/@item.bannerID" class="btn btn-outline-dark">Videoyu İzle</a></td>
												<td><a href="/Admin/AdminBanner/UpdateBanner/@item.bannerID" class="btn btn-outline-warning">Güncelle</a></td>
												<td><a href="/Admin/AdminBanner/RemoveBanner/@item.bannerID" class="btn btn-outline-danger">Sil</a></td>
											</tr>
										}
									}
									else
									{
										<tr>
											<td colspan="4" class="text-center">
												<div class="alert alert-info">
													<p class="mb-0">Henüz hiçbir afiş eklenmemiş!</p>
												</div>
											</td>
										</tr>
									}
								</tbody>

							</table>
							<a href="/Admin/AdminBanner/CreateBanner" class="btn btn-outline-success">Afiş Ekle</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

