<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <div class="navbar-brand-box">
            <a href="index.html" class="logo">
                <i class="mdi mdi-alpha-x-circle"></i>
                <span>
                    CarBook
                </span>
            </a>
        </div>
        <div id="sidebar-menu">
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menü</li>
                <li><a href="/Admin/AdminDashboard/Index" class="waves-effect"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                <li><a href="/Admin/AdminStatistics/Index" class="waves-effect"><i class="fas fa-chart-pie"></i><span>İstatistikler</span></a></li>
                <li><a href="/Default/Index" class="waves-effect"><i class="fas fa-external-link-alt"></i><span>Siteye Git</span></a></li>
                <li><a href="/AdminCar/Index" class="waves-effect"><i class="fas fa-car"></i><span>Araç İşlemleri</span></a></li>
                <li><a href="/AdminFeature/Index" class="waves-effect"><i class="fas fa-key"></i><span>Araç Özellik İşlemleri</span></a></li>
                <li><a href="/AdminBrand/Index" class="waves-effect"><i class="fas fa-tag"></i><span>Marka İşlemleri</span></a></li>
                <li><a href="/Admin/AdminBanner/Index" class="waves-effect"><i class="fas fa-image"></i><span>Site Afiş İşlemleri</span></a></li>
                <li><a href="/Admin/AdminAbout/Index" class="waves-effect"><i class="fas fa-info-circle"></i><span>Hakkımızda İşlemleri</span></a></li>
                <li><a href="/Admin/AdminAuthor/Index" class="waves-effect"><i class="fas fa-users"></i><span>Yazar İşlemleri</span></a></li>
                <li><a href="/Admin/AdminCategory/Index" class="waves-effect"><i class="fas fa-tags"></i><span>Blog Kategori İşlemleri</span></a></li>
                <li><a href="/Admin/AdminBlog/Index" class="waves-effect"><i class="fas fa-blog"></i><span>Blog İşlemleri</span></a></li>
                <li><a href="/Admin/AdminPricing/Index" class="waves-effect"><i class="fas fa-credit-card"></i><span>Ödeme Türü İşlemleri</span></a></li>
                <li><a href="/AdminCar/Index" class="waves-effect"><i class="fas fa-comment"></i><span>Yorum İşlemleri</span></a></li>
                <li><a href="/Admin/AdminContact/Index" class="waves-effect"><i class="fas fa-envelope"></i><span>İletişim İşlemleri</span></a></li>
                <li><a href="/Admin/AdminFooterAddress/Index" class="waves-effect"><i class="fas fa-map-marker-alt"></i><span>Alt Adres İşlemleri</span></a></li>
                <li><a href="/Admin/AdminLocation/Index" class="waves-effect"><i class="fas fa-location-arrow"></i><span>Konum İşlemleri</span></a></li>
                <li><a href="/Admin/AdminService/Index" class="waves-effect"><i class="fas fa-concierge-bell"></i><span>Hizmet İşlemleri</span></a></li>
                <li><a href="/Admin/AdminSocialMedia/Index" class="waves-effect"><i class="fas fa-share-alt"></i><span>Sosyal Medya İşlemleri</span></a></li>
                <li><a href="/Admin/AdminTestimonial/Index" class="waves-effect"><i class="fas fa-handshake"></i><span>Referans İşlemleri</span></a></li>
                <li><a href="/AdminCar/Index" class="waves-effect"><i class="fas fa-cloud"></i><span>Etiket Bulutu İşlemleri</span></a></li>
                <li><a href="/AdminCar/Index" class="waves-effect"><i class="fas fa-cogs"></i><span>Ayarlar</span></a></li>
                <li><a href="/AdminCar/Index" class="waves-effect"><i class="fas fa-sign-out-alt"></i><span>Çıkış Yap</span></a></li>
            </ul>
        </div>
    </div>
</div>