@model List<ResultLocationDto>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Konum Listesi</h4>
						<div class="table-responsive">
							<table class="table mb-0">
								<thead>
									<tr>
										<th>#</th>
										<th>Konum Adı</th>
										<th>Konumu Aç</th>
										<th>Güncelle</th>
										<th>Sil</th>
									</tr>
								</thead>
								<tbody>
									@if (Model.Any())
									{
										@foreach (var item in Model)
										{
											<tr>
												<th scope="row">@item.locationID</th>
												<td>@item.name</td>
												<td><a href="/Admin/AdminLocation/UpdateLocation/@item.locationID" class="btn btn-outline-dark">Konumu Aç</a></td>
												<td><a href="/Admin/AdminLocation/UpdateLocation/@item.locationID" class="btn btn-outline-warning">Güncelle</a></td>
												<td><a href="/Admin/AdminLocation/RemoveLocation/@item.locationID" class="btn btn-outline-danger">Sil</a></td>
											</tr>
										}
									}
									else
									{
										<tr>
											<td colspan="5" class="text-center">
												<div class="alert alert-info">
													<p class="mb-0">Henüz hiçbir konum eklenmemiş!</p>
												</div>
											</td>
										</tr>
									}
								</tbody>
							</table>
							<a href="/Admin/AdminLocation/CreateLocation" class="btn btn-outline-success">Konum Ekle</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

