@model List<ResultSocialMediaDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Sosyal Medya Listesi</h4>
						<div class="table-responsive">
							<table class="table mb-0">
								<thead>
									<tr>
										<th>#</th>
										<th>Başlık</th>
										<th>Aç</th>
										<th>Güncelle</th>
										<th>Sil</th>
									</tr>
								</thead>
								<tbody>
									@if (Model.Any())
									{
										@foreach (var item in Model)
										{
											<tr>
												<td>@item.socialMediaID</td>
												<td>@item.name</td>
												<td><a href="@item.url" class="btn btn-outline-dark">Aç</a></td>
												<td><a href="/Admin/AdminSocialMedia/UpdateSocialMedia/@item.socialMediaID" class="btn btn-outline-warning">Güncelle</a></td>
												<td><a href="/Admin/AdminSocialMedia/RemoveSocialMedia/@item.socialMediaID" class="btn btn-outline-danger">Sil</a></td>
											</tr>
										}
									}
									else
									{
										<tr>
											<td colspan="5" class="text-center">
												<div class="alert alert-info">
													<p class="mb-0">Henüz hiçbir sosyal medya eklenmemiş!</p>
												</div>
											</td>
										</tr>
									}
								</tbody>
							</table>
							<a href="/Admin/AdminSocialMedia/CreateSocialMedia" class="btn btn-outline-success">Sosyal Medya Ekle</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

