@model UpdateAboutDto
@{
	ViewData["Title"] = "UpdateAbout";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Site Hakkımızda Bilgisi Güncelle</h4>
						<p class="card-subtitle mb-4">
							Dikkat! Site hakkımızda bilgisi güncellerken bu kayıttan başka kayıt olmaması durumuna dikkat ediniz. Aksi
							takdirde kullanıcı görünümünde bozulmalar yaşanacak ve işlemler aksayacaktır.</p>
						<form method="post">
							<input type="hidden" asp-for="aboutID" />
							<div class="form-group">
								<label for="exampleInputTitle">Başlık</label>
								<input type="text" class="form-control" id="exampleInputTitle" asp-for="title">
							</div>
							<div class="form-group">
								<label for="exampleInputDescription">Açıklama</label>
								<textarea id="exampleInputDescription" class="form-control" maxlength="250" rows="3" asp-for="description"></textarea>
							</div>
							<div class="form-group">
								<label for="exampleInputImageUrl">Görsel</label>
								<input type="text" class="form-control" id="exampleInputImageUrl" asp-for="imageUrl">
							</div>
							<button type="submit" class="btn btn-primary waves-effect waves-light">Hakkımızda Bilgisini Güncelle</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


